{%extends 'navbar.html'%}
{%block content%}
<h4 class="text-dark font-weight-bold px-2 br pt-3 centerjustify">Search books by Name, Author's Name,Isbn.</h4>
<h4 class="text-dark font-weight-bold px-2 br pt-3 centerjustify">(We have a collection of 5000 books!)</h4>
<!-- Creating search button -->
<form class="form-inline my-2 my-lg-0 justify-content-center pt-3 bg-light-black pb-5">
    <input class="form-control mr-sm-2 border border-dark rounded" type="search" placeholder="Search Books" aria-label="Search" name="search_input">
    <button class="btn btn-outline-dark btn-light" type="submit">Search</button>
</form>
<hr style="border-width: 5px; margin: 0px;" class="bg-dark">

<div class="displaygrid" style="overflow:scroll; height:780px; border-left:10px dotted black; border-right: 10px dotted black; margin-bottom: 0px;">
{%for book in books%} 
        <div class="card bg-dark br p-3 boxshadow growanimation m-4" style="width: 18rem; ">
            <a href="{{url_for('bookpage',username=session['username_login'],book_id=book.id)}}" style="text-decoration: none;">
                <img src="https://i.ibb.co/0M6BpTY/janko-ferlic-sf-L-QOnmy00-unsplash.jpg" class="card-img-top centerjustify p-1 bg-light mt-3" alt="..." height="275px">
            </a>
            <div class="card-body">
                <a href="{{url_for('bookpage',username=session['username_login'],book_id=book.id)}}" style="text-decoration: none;">
                    <h4 class="card-title text-warning text-center singlelinetext" style="height:40px; font: 1em sans-serif; font-weight: bolder;">{{book.name}}</h4>
                </a>
                <p class="card-text text-light centerjustify"><span style="font-weight: bolder; font-family: Georgia, 'Times New Roman', Times, serif;">Author: </span> {{book.author}}</p>
                <p class="card-text text-light centerjustify"><span style="font-weight: bolder; font-family: Georgia, 'Times New Roman', Times, serif;">ISBN: </span> {{book.isbn}}</p>
                <p class="card-text text-light centerjustify"><span style="font-weight: bolder; font-family: Georgia, 'Times New Roman', Times, serif;">Published: </span> {{book.published}}</p>
                <p class="btn btn-danger br centerjustify" style="font: 1em sans-serif; font-weight: bolder;">Goodreads-<img src="https://i.ibb.co/jWYstpZ/Stars-Transparent.png" width="17px" height="17px" style="margin-top: 1.5px;"></p>
            </div>
        </div>
{%endfor%}
</div>
<div class="bg-dark" style="height: 50px; margin: 0px; padding: 10px;">
    {%if books_count>=100%}
        <div  class="centerjustify">
            <h4 class="text-warning" style="font-weight: bolder;">Showing top 100 results.</h4>
        </div>
    {%elif books_count==1%}
        <div  class="centerjustify">
            <h4 class="text-warning" style="font-weight: bolder;">Showing {{books_count}} result.</h4>
        </div>
    {%else%}
        <div  class="centerjustify">
            <h4 class="text-warning" style="font-weight: bolder;">Showing {{books_count}} results.</h4>
        </div>
    {%endif%}
</div>
{%endblock%}

    



