{%extends 'navbar.html'%}
{%block content%}
<h3 class="text-warning font-weight-bold bg-dark padd br py-1">Name:</h3><br>
<h5 class="text-daanger font-weight-bold bg-dark padd br py-1">{{name}}</h5><hr>
<h3 class="text-warning font-weight-bold bg-dark padd br py-1">Username:</h3><br>
<h5 class="text-dark font-weight-bold bg-dark padd br py-1">{{username}}</h5><hr>
<h3 class="text-warning font-weight-bold bg-dark padd br py-1">Email:</h3><br>
<h5 class="text-dark font-weight-bold bg-dark padd br py-1">{{email}}</h5><hr>
{%endblock%}
